<div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
  *ngIf="this.images.length > 0"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        [src]="this.apiHost + '/img/products/' + this.images[0]"
        class="d-block w-100"
        alt="..."
      />
    </div>

    <div class="carousel-item" *ngFor="let image of this.images.slice(1)">
      <img
        [src]="this.apiHost + '/img/products/' + image"
        class="d-block w-100"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
    style="background-color: rgb(219, 219, 219)"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
    style="background-color: rgb(219, 219, 219)"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
