/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Roboto", sans-serif;
}

.container-cover {
  background-color: #212529f5;
}

.subtext-dark {
  color: #c2c2c2;
}
